.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container button {
  background: rgb(50, 50, 50);
  outline: none;
  border: none;
  font-weight: 100;
  border-radius: 1rem;
  width: 20%;
  margin: 1rem auto;
  opacity: 0.8;
}

.container button:hover {
  opacity: 1;
  cursor: pointer;
}
